@media screen {
  /* --- Reset Styles --- */
  * {
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
    display: grid;
  }

  body {
    background-color: #c9b1bd;
    background-image: url("../images/bg.png");
    color: black;
    font-family: 'Montserrat', sans-serif;
    line-height: 18px;
  }

  /* --- Welcome Page Styles --- */

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    border-bottom: 2px solid #404f3b;
    font-size: 24px;
    line-height: 36px;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 20px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
    line-height: 20px;
    font-size: 16px;
  }

  .sidebar p {
    font-size: 14px;
  }

  a {
    text-decoration: none;
    color: #404f3b;
    font-size: 14px;
  }
  .body a {
    font-size: 16px;
    font-weight: bold;
  }

  a:hover {
    letter-spacing: 4px;
  }

  ul {
    list-style-type: square;
    font-size: 16px;
  }

  button {
    background: #c9b1bd;
    color: #111D13;
    border: 1px solid #111D13;
    padding: 1%;
  }

  input {
    margin-bottom: 5px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: #8fa089;
    -moz-box-shadow: 0 0 0px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 0px rgba(0,0,0,.3);
    box-shadow: 0 0 0px rgba(0,0,0,.3);
    border-radius: 10px;
    margin: 8px auto;
    max-width: 960px;
    padding: 1%; /* 18px / 800px */
    width: 100%;
    height: auto;
  }
  
  .header { 
    grid-area: 1 / 1 / 3 / 6;
    width: 100%;
    height: auto;
    overflow: hidden; 
  }

  .header img {
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    opacity: 0.7;
  }

  .nav { 
    grid-area: 3 / 1 / 4 / 6;
    height: auto; 
    border-bottom: 2px solid #404f3b;
  }

  .body { 
    grid-area: 4 / 1 / 8 / 4;
    float: left;
    width: 90%; /* 480px / 800px */
    height: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
   }

  .sidebar { 
    grid-area: 4 / 4 / 8 / 6;
    background: #d5dfe5;
    border: 1px solid #111D13;
    float: right;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%; /* 240px / 800px */
    height: auto;
  }

  .sidebar img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
    border: 1px solid #111D13;
  }

  .footer { 
    grid-area: 8 / 1 / 9 / 6; 
    border-top: 2px solid #404f3b;
    margin-top: 20px;
    padding-top: 10px;
    height: auto;
  }

  .left {
    width: 50%;
    height: auto;
    float: left;
    text-align: left;
    margin: auto;
  }

  .right {
    width: 50%;
    height: auto;
    float: right;
    text-align: right;
    font-size: 12px;
    margin: auto;
  }

  .button-left {
    width: 50%;
    height: auto;
    float: left;
    text-align: center;
    margin: auto;
  }

  .button-right {
    width: 50%;
    height: auto;
    float: right;
    text-align: center;
    margin: auto;
  }

  .error {
    background: #d5dfe5;
    border: 1px solid #111D13; 
    width: 50%;
    height: auto;
    margin: .75rem;
    padding: .5rem;
  }

  .error ul{
    list-style-type: none;
  }


  @media screen and (max-width: 600px) {
    .wrapper {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      width: auto;
    }
  
    .body, .sidebar {
      float: none;
      width: 100%;
    }
  
    .sidebar {
      background: transparent;
      border: none;
      border-top: 2px solid #ccc;
      padding: 0;
    }
  
    h1 {
      font-size: 24px;
      line-height: 36px;
    }
  
    h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
}