<!-- create login form -->

  <div class="col-md-8 col-md-offset-2">
    <h2>Eleplant - Never Forget Your Plants Again!</h2>

    <div class="content">
      <h3>Login to Eleplant!</h3>
      <form method="post" action="/login">
      Username: <input type="text" name="username" required><br>
      Password: <input type="password" name="password" required><br>

      <button type="submit">Login</button>
      </form>
    </div>

    <div class="sidebar">
      <img src="../images/plants.jpg" class="side">
    </div>

  </div>