<% if !logged_in? %>
<div class="nav"> 
  <h3>Eleplant - Never Forget Your Plants Again!</h3>
</div>

<div class="body"> 
  <h3>Login to Eleplant!</h3>
  <form method="post" action="/login">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    <button type="submit">Login</button>
  </form>
</div>

<div class="sidebar"> 
  <img src="../images/plants.jpg">
</div>
<% else %>
<% redirect "/plants"%>

<% end %>