<div class="nav"> 
  <h3>Eleplant - Never Forget Your Plants Again!</h3>
</div>

<div class="body"> 
  <h3>Login to Eleplant!</h3>
  <form method="post" action="/login">
    Username: <input type="text" name="username" required><br>
    Password: <input type="password" name="password" required><br>
    <button type="submit">Login</button>
  </form>
</div>

<div class="sidebar"> 
<h5> Here is the sidebar content. </h5>
<p>Content!!</p>
</div>