<!-- create sign-up form -->


  <div class="col-md-8 col-md-offset-2">
    <h2>Eleplant - Never Forget Your Plants Again!</h2>

    <div class="content">
      <h3>Sign Up For Eleplant!</h3>
      <form action="/signup" method="POST">
        <p>Name: <input type="text" name="username" required></p>
        <p>Email: <input type="email" name="email" required></p>
        <p>Password: <input type="password" name="password" required></p>
        <button type="submit">Sign Up</button>
      </form>
    </div>

    <div class="sidebar">
      <img src="../images/plants.jpg" class="side">
    </div>

  </div>