<div class="nav"> 
  <div class="left">
    <h3>Eleplant - Never Forget Your Plants Again! </h3> 
  </div>

  <div class="right">
    <a href="/wishlist">My Wishlist</a> | <a href="/logout">Logout</a>
  </div>
</div>

<div class="body"> 
  <h4><%= @current_user.username %>'s Plants</h4>
    <p>Choose a plant to see more information!</p>
    <ul>
      <% @current_user.plants.each do |plant| %>
        <li><a href="/plants/<%= plant.id%>"> <%= plant.name %></a></li>
      <% end %>    
    </ul> <br>
    <button type="submit" onclick="window.location.href = '/plants/new';">Add a Plant</button>
</div>

<div class="sidebar"> 
  <img src="../images/plants.jpg">
</div>