<!-- add logout option at the bottom of every page-->
<!--  plant/new form to create plant: post to plants -->
<!-- Make light and water requirements from drop down menu -->

<h2>Add a plant and care information: </h2>
<form action="/plants" method="POST">
  <p>Plant Name: <input type="text" name="name"></p>
  <p>Light: <input type="text" name="light"></p>
  <p>Water: <input type="text" name="water"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>


<a href="/plants">Back to your plants</a> || <a href="/logout">Logout</a>