<div class="nav"> 
  <div class="left">
    <h3>Eleplant - Never Forget Your Plants Again! </h3> 
  </div>

  <div class="right">
    <h3><a href="/plants">My Plants</a> <a href="/wishlist">My Wishlist</a> </h3>
  </div>
</div>

<div class="body"> 
  <h3>Add to your wishlist: </h3>
  <form action="/wishlist" method="POST">
    <p>Plant Name: <input type="text" name="item_name"></p>
    <button type="submit">Add Plant!</button>
  </form> <br>
</div>

<div class="sidebar"> 
<h5> Here is the sidebar content. </h5>
<p>Content!!</p>
</div>