<div class="container">
  <header><img src="../images/monstera.jpeg" class="header"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Eleplant - Never Forget Your Plants Again! <a href="/plants">My Plants</a> <a href="/wishlist">My Wishlist</a> </h2>

    <div class="content">
      <h3>Add to your wishlist: </h3>
      <form action="/wishlist" method="POST">
      <p>Plant Name: <input type="text" name="item_name"></p>
      <button type="submit">Add Plant!</button>
    </form> <br>
    </div>

    <div class="sidebar">
      <img src="../images/plants.jpg" class="side">
    </div>

  </div>
</div>