<div class="nav"> 
    <a href="/plants">My Plants</a> | <a href="/wishlist">My Wishlist</a> | <a href="/logout">Logout</a>
</div>

<div class="body"> 
  <ul>
    <% @current_user.wishlist.each do |item| %>
      <li> &#9788; <a href="/wishlist/<%=item.id%>"> <%= item.item_name %> </a></li>
    <% end %>
  </ul> <br>
  <button type="submit" onclick="window.location.href = '/wishlist/new';">Add a Plant</button>

</div>

<div class="sidebar"> 
    <h3>Add to your wishlist: </h3>
  <form action="/wishlist" method="POST">
    <p>Plant Name: <input type="text" name="item_name"></p>
    <button type="submit">Add Plant!</button>
  </form>
</div>