<div class="container">
  <header><img src="../images/monstera.jpeg" class="header"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Eleplant - Never Forget Your Plants Again! <a href="/plants">My Plants</a> <a href="/wishlist">My Wishlist</a> </h2>

    <div class="content">
      <h3><%= @item.item_name %></h3>

      <form method="post" action="/wishlist/<%=@item.id%>">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <button type="submit">Remove</button>
      </form> <br>
      <button type="submit" onclick="window.location.href = '/wishlist/<%=@item.id%>/edit';">Edit</button> <br>

      <a href="/wishlist">Back to your wishlist</a> 
    </div>

    <div class="sidebar">
      <img src="../images/plants.jpg" class="side">
    </div>

  </div>
</div>