<!-- Give explanation of what app does & link to sign-up or log-in-->
<% if !logged_in? %>
<div class="nav"> 
    <h3>Eleplant - Never Forget Your Plants Again!</h3> 
</div>

<div class="body"> 
  <p>Too many houseplants to keep track of? An endless list of plants you want to bring home? Use Eleplant to help you remember what your plants need and what needs to come home with you next time you head to the nursery!</p>
  <div class="index">
    <a href="/login">Login</a> or <a href="/signup">Signup</a>
  </div>
</div>

<div class="sidebar"> 
  <img src="../images/plants.jpg">
</div>
<% else %>
<% redirect "/plants"%>
<% end %>