<!-- Give explanation of what app does & link to sign-up or log-in-->

<div class="nav"> 
  <div class="left">
    <h3>Eleplant - Never Forget Your Plants Again!</h3> 
  </div>
  
  <div class="right">
    <h3> <a href="/login">Login</a> or <a href="/signup">Signup</a> </h3>
  </div>
</div>

<div class="body"> 
  <p>Need to keep track of your houseplants and their needs?</p>
</div>

<div class="sidebar"> 
<h5> Here is the sidebar content. </h5>
<p>Content!!</p>
</div>